{% extends "./base.html.twig" %}

{% block body %}
    <div class="sm:w-3/5 w-4/5 mx-auto">
        <h1 class="pt-20 sm:text-5xl md:text-7xl text-4xl font-bold">
            {{ article.title }}
        </h1>
        <div class="py-5">
            <div class="inline-block sm:pt-1">
                <h2 class="font-bold">
                    Created by: {{ article.author }}
                </h2>
                <p class="text-sm text-gray-600">
                    {{ article.createdAt|date('Y-m-d') }} 4 min. read
                </p>
            </div>
        </div>
        <div class="py-4 px-4 mb-4 bg-gray-200 rounded">
            <p class="pb-6"><strong>Editácia článku</strong></p>
            <a href="/articles/edit/{{ article.id }}"
               class="bg-green-400 mb-4 font-bold py-2 px-4 rounded transition-all hover:bg-green-500"> Upraviť článok </a> <a
                    href="/articles/delete/{{ article.id }}"
                    class="bg-red-500 font-bold py-2 px-4 ml-6 rounded transition-all hover:bg-red-300"> Odstrániť
                článok </a>
        </div>
        <img src="{{ article.imagePath }}" class="rounded-xl w-full shadow-xl" alt="article image" />
        <p class="text-xl py-6">
            {{ article.description }}
        </p>
        <hr>
        <div class="py-2">
            <h2 class="text-3xl mb-4 font-bold">Comments ({{ comments|length }})</h2>
            <div>
                {{ form_start(form) }}

                {{ form_widget(form) }}
                <button
                        type="submit"
                        class="mt-3 mb-3 text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-full text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">
                    Add comment
                </button>

                {{ form_end(form) }}
            </div>
            <hr>
            <ul class="py-4">
                {% for comment in comments %}
                    <li class="py-3 px-3 mb-4 rounded sm:py-4 bg-gray-200 hover:bg-gray-300 hover:cursor-pointer">
                        <div class="flex items-center space-x-4">
                            <div class="flex-shrink-0">
                                <img class="w-8 h-8 rounded-full"
                                     src="https://cdn-icons-png.flaticon.com/512/1177/1177568.png"
                                     alt="user_image">
                            </div>
                            <div class="flex-1 min-w-0">
                                <p>
                                    <strong class="text-md text-gray-900 truncate">{{ comment.authorName }}</strong>&nbsp;<small>{{ comment.createdAt|date('Y-m-d') }}</small>
                                </p>
                                <p class="text-sm font-medium py-2 text-gray-900 truncate">
                                    {{ comment.content }}
                                </p>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}